h2{
    color: orange;
    font-family: 'Trebuchet MS';
    text-align: center;
}

.box{
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 300px;
    background: orange;
}

#box{
    width: 400px;
    color: #fff;
    background: blue;
    padding: 50px;
}

body{
    background: url('img/tree1.jpg'), url(img/field1.jpg);
    background-repeat: no-repeat, repeat;
    color: white;
}